<div class="sidebar">
    <div class="logo">VPN Connected Device</div>

    <ul class="menu">
        <li class="{% if menu == 'Connected' %}connected{% endif %}">
            <a href="?status=Connected">Active Connections</a>
        </li>
        <li class="{% if menu == 'Disconnected' %}disconnected{% endif %}">
            <a href="?status=Disconnected">Connections History</a>
        </li>
    </ul>

    <div class="sidebar-footer">
        v1.0.0 • <span class="online">System Online</span>
    </div>
</div>
