{% extends "base.html" %}
{% block title %}VPN Connections{% endblock %}

{% block content %}
<div class="page">

    <h2>Detected Connections</h2>

    <table class="data-table">
        <thead>
        <tr>
            <th>VPN Name</th>
            <th>Client IP</th>
            <th>Status</th>
            <th>Uptime</th>
            <th>Proposal</th>
            <th>Bytes In</th>
            <th>Bytes Out</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for c in sessions %}
        <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.client_ip }}</td>

            <td>
                <span class="status {{ c.status|lower }}">
                    {{ c.status }}
                </span>
            </td>

            <td>{{ c.uptime }}</td>
            <td class="mono">{{ c.proposal }}</td>
            <td>{{ c.bytes_in }}</td>
            <td>{{ c.bytes_out }}</td>

            <td class="action-wrapper">
                <img src="{% static 'icons/more.svg' %}"
                     class="dots"
                     onclick="toggleMenu('menu{{ forloop.counter }}')">

                <div class="action-menu" id="menu{{ forloop.counter }}">
                    <div class="menu-item danger">
                        <img src="{% static 'icons/disconnect.svg' %}">
                        Disconnect
                    </div>
                    <div class="menu-item danger">
                        <img src="{% static 'icons/delete.svg' %}">
                        Delete
                    </div>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="8" class="empty">No connections</td></tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
